<!-- HTML Meta Tags -->
<title>Новогодняя открытка от Tiburon Research</title>
<meta name="description" content="Создай новогоднее настроение за минуту!">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Новогодняя открытка от Tiburon Research">
<meta itemprop="description" content="Создай новогоднее настроение за минуту!">
<meta itemprop="image" content="<%= domain %>assets/images/share/cards/<%= cardFileName %>">

<!-- Tags -->
<meta property="og:url" content="<%= domain %>">
<meta property="og:type" content="website">
<meta property="og:title" content="Новогодняя открытка от Tiburon Research">
<meta property="og:description" content="Создай новогоднее настроение за минуту!">
<meta property="og:image" content="<%= domain %>assets/images/share/cards/<%= cardFileName %>">
<meta property="og:site_name" content="Tiburon Research">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="<%= domain %>">
<meta property="twitter:url" content="<%= domain %>">
<meta name="twitter:title" content="Новогодняя открытка от Tiburon Research">
<meta name="twitter:description" content="Создай новогоднее настроение за минуту!">
<meta name="twitter:image" content="<%= domain %>assets/images/share/cards/<%= cardFileName %>">
        
<link rel="image_src" href="<%= domain %>assets/images/share/cards/<%= cardFileName %>" />
<link rel="canonical" href="<%= domain %>" />
